.navbar_dash{
    background-color:white;
    height: 64px;
    /* position: fixed; */
    width: 100%;
    z-index: 1000;
    border-bottom: 1px solid #e5e5e5;
}
.container_dash{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 32px;
    margin: 0 20px;
}
.navbar-brand_dash a{
    font-size: 24px;
    font-family: poppins;
    text-decoration: none;
    /* color: #ffffff; */
    font-weight: bold;
    /* margin-right: 44rem; */
}
.navbar-links_dash{
    list-style: none;
    margin: 0;
    display: flex;
    gap: 20px; 
}
.navbar-links_dash i:hover{
    cursor: pointer;
    color: #e5e5e5;
}
.navbar-search{
    width: 600px;
    height:28px;
    border: 1px solid #6d6868;
    padding: 4px 11px;
    border-radius: 10px;
}
.navbar-search input{
    border: none;
    font-family: poppins;
    width: 560px;
}
.navbar-search input:focus{
    outline: none;
}
