.Side_bar_right{
    width: 15%;
    height: 42.2rem;
    background-color: #f7f5f2;
    border-right: 1px solid #e6e6e6;
    text-align: left;
    position: fixed;
} 

.Side_bar_right .right-content{
    margin-top: 2rem;
    padding-left: 32px;
}
.Side_bar_right .right-content p{
    font-family: poppins;
    color: #736c64;
}
.right-content p:hover{
    cursor: pointer;
    color: black;
}
.Storage{
    margin-top: 20rem;
    border-top:1px solid #e6e6e6;
}
.Storage p{
    font-family: poppins;
    color: #736c64;
    margin-left: 2rem;
}

.storage-bar{
   width: 70%;
   margin-left: 1.7rem;
   background-color: #a39c9c;
   border-radius: 10px;
   
}
.Storage span{
    font-family: poppins;
    margin-left: 2rem;
}
